.header {
    padding: 20px 20px 80px 20px;
    color: white;
}

.navHeader {
    display: flex;
}

.linkHeader {
    text-decoration: none;
    list-style-type: none;
    margin-right: 30px;
}

.lolHeader {
    text-decoration: none;
}